{% extends "base.html" %}

{% block main %}
<h1>自己紹介</h1>
<h2>実績</h2>
<ul>
    {% for achieve in achieves %}
    <li>{{ achieve }}</li>
    {% empty %}
    実績がありません
    {%endfor %}
</ul>

<h2>スキル</h2>
<ul>
    {% for skill in skills %}
    <li>{{ skill }}</li>
    {% empty %}
    スキルがありません
    {%endfor %}
</ul>
<h2>資格</h2>
<ul>
    {% for exam in exams %}
    <li>{{ exam }}</li>
    {% empty %}
    資格がありません
    {%endfor %}
</ul>
<h2>好きな映画</h2>
<ul>
    {% for movie in movies %}
    <li>{{ movie }}</li>
    {% empty %}
    ありません
    {%endfor %}
</ul>
{% endblock %}